<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>argon</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ArgonSourceFile</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>com.macsemantics.argon.source</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Argon Source File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ARGN</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.macsemantics.argon.source</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>1</integer>
			<key>NSDocumentClass</key>
			<string>Argon.ArgonSourceFile</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>argonexe</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ArgonExecutableFile</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>com.macsemantics.argon.executable</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Argon Executable File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ARGE</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.macsemantics.argon.executable</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
			<key>NSDocumentClass</key>
			<string>Argon.ArgonExecutableFile</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>argonlib</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ArgonLibraryFile</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>com.macsemantics.argon.library</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Argon Library File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ARGL</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.macsemantics.argon.library</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
			<key>NSDocumentClass</key>
			<string>Argon.ArgonLibraryFile</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string>Argon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2018 Vincent Coetzee. All rights reserved.</string>
	<key>NSMainStoryboardFile</key>
	<string>Main</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array/>
			<key>UTTypeDescription</key>
			<string>Argon Executable File</string>
			<key>UTTypeIconFile</key>
			<string>ArgonExecutableFile</string>
			<key>UTTypeIdentifier</key>
			<string>com.macsemantics.argon.executable</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>argonexe</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Argon Source File</string>
			<key>UTTypeIconFile</key>
			<string>ArgonSourceFile</string>
			<key>UTTypeIdentifier</key>
			<string>com.macsemantics.argon.source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>argon</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Argon Library File</string>
			<key>UTTypeIconFile</key>
			<string>ArgonLibraryFile</string>
			<key>UTTypeIdentifier</key>
			<string>com.macsemantics.argon.library</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>argonlib</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
